#sidebar {
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    height: 100vh;
    background: $sidebar-bg;
    color: $sidebar-color;
    transition: all 0.3s;
    position: fixed;

    .sidebar-header {
        padding: 10px;
        background: $sidebar-header-bg;

        a {
            color: $sidebar-color;
            h3 {
                font-weight: 600;
                font-size: 18px;
            }
        }
    }

    ul.components {
        padding: 10px 0;
        margin-top: 20px;
    }
    
    ul {
        li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
            height: 60px;
            line-height: 40px;
            text-align: center;
            color: $sidebar-color;
            text-decoration: none;

            &.active {
                color: $sidebar-active-color;
                background: #fff;
            }
        }
    }

    #copyright {
        position: absolute;
        bottom: $content-padding;
        left: 25px;
        list-style-type: none;
        list-style: none;
    }
}

header {
    height: $header-height;
    background: $header-bg;
    width: 100%;
    color: $sidebar-color;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 0 $content-padding;

    .form-group, button {
        width: 100%;
        position: relative;
        top: 12px;
    }

    button {
        background: $sidebar-color !important;
        color: $theme-color !important;
        outline: none !important;
        
        &:hover {
            background: $theme-color !important;
            color: $sidebar-color !important;
        }
    }
}

footer {
    height: $footer-height;
    background: $sidebar-bg;
    width: 100%;
    color: $sidebar-color;

    div {
        line-height: $footer-height;
    }

    #hackathon {
        text-align: center;
    }
}

.carousel-indicators {
    position: absolute;
    bottom: -30px;

    li {
        background-color: #969fa5;
    }

    li.active {
        background-color: black;
    }
}

.carousel-control{
    &.left, &.right {
        background-image: none;
    }
}