#sidebar {
    @media screen and (max-width: $sidebar-collapse-width) {
        $sidebar-width: $sidebar-sm-width;
        min-width: $sidebar-width;
        max-width: $sidebar-width;
    }

    min-width: $sidebar-width;
    max-width: $sidebar-width;
    height: 100vh;
    background: $sidebar-bg;
    color: $sidebar-color;
    transition: all 0.3s;
    position: fixed;
    z-index: 1001;

    .sidebar-header {
        padding: 11.5px;
        background: $sidebar-header-bg;

        a {
            color: $sidebar-color;
            h3 {
                font-weight: 600;
                font-size: 18px;

                @media screen and (max-width: $sidebar-collapse-width) {
                    display: none !important;
                }
            }

            img {
                @media screen and (max-width: $sidebar-collapse-width) {
                    left: -2px !important;
                    top: 0 !important;
                }
            }
        }
    }

    ul.components {
        padding: 10px 0;
        margin-top: 20px;

        .sidebar-icon {
            @media screen and (max-width: $sidebar-collapse-width) {
                right: 0px !important;
            }
        }

        .sidebar-label {
            @media screen and (max-width: $sidebar-collapse-width) {
                display: none !important;
            }
        }
    }
    
    ul {
        li a {
            padding: 10px;
            font-size: 1.1em;
            display: block;
            height: 60px;
            line-height: 40px;
            text-align: center;
            color: $sidebar-color;
            text-decoration: none;

            &.active {
                color: $sidebar-active-color;
                background: #fff;
            }
        }
    }

    #copyright {
        @media screen and (max-width: $sidebar-collapse-width) {
            display: none !important;
        }
        position: absolute;
        bottom: $content-padding;
        left: 25px;
        list-style-type: none;
        list-style: none;
    }
}

button {
    background: $sidebar-color !important;
    color: $theme-color !important;
    outline: none !important;
    width: 100%;
    
    &:hover {
        background: $theme-color !important;
        color: $sidebar-color !important;
    }

    &.close {
        width: 20px !important;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: $header-height;
    background: $header-bg;
    width: 100%;
    color: $sidebar-color;
    @media screen and (max-width: $sidebar-collapse-width) {
        padding: 0 $content-padding 0 $sidebar-sm-width + $content-padding;
    }
    padding: 0 $content-padding 0 $sidebar-width + $content-padding;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);

    .header-btn-label {
        @media screen and (max-width: 1080px) {
            display: none !important;
        }
    }

    .header-btn-icon {
        @media screen and (max-width: 1080px) {
            right: 0 !important;
        }
    }

    .form-group{
        width: 100%;
        position: relative;
        top: 6px;
    }
}

footer {
    height: $footer-height;
    background: $sidebar-bg;
    width: 100%;
    color: $sidebar-color;

    div {
        line-height: $footer-height;
    }

    #hackathon {
        text-align: center;
    }
}

.donut-chart {
    .shadow {
        -webkit-filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
        filter: drop-shadow( 0px 3px 3px rgba(0,0,0,.5) );
    }
}

.carousel-indicators {
    position: absolute;
    bottom: -30px;

    li {
        background-color: #969fa5;
    }

    li.active {
        background-color: black;
    }
}

.carousel-control{
    bottom: auto !important;

    &.left, &.right {
        background-image: none;
    }
}

.modal-dialog {
    margin-top: 150px;
    
    .modal-body {
        min-height: 100px;
    }
}